* {
	margin: 0;
	padding: 0;
}
a {
	color: #000;
	text-decoration: none;
}
/*
 * 页头样式，勿动
 */
header {
	widows: 100%;
	background: rgba(255,250,205,.8);
	height: 110px;
	position: relative;
}
header img {
	margin: 10px 20px;
	height: 80px;
}
header h1 {
	position: absolute;
	top: 0px;
	left: 400px;
	font-family: "隶书";
	font-size: 40px;
	font-weight: 60;
	line-height: 80px;
}
header ._liMenu_1 {
	position: absolute;
	bottom: 10px;
	right: 30px;
}
header p {
	position: absolute;
	top: 10px;
	right: 40px;
	cursor: pointer;
}
header p span {
	padding: 0 10px;
}
/*
 * 页脚样式，勿动
 */
footer {
	font-size: 12px;
	background: #fff;
	height: 100px;
	display: block;
	width: 100%;
}
footer div {
	float: left;
	padding-left: 200px;
}
footer div p {
	line-height: 100px;
}
footer div p a {
	margin-left: 30px;
	color: #ddd;
}
footer div label {
	line-height: 100px;
	float: left;
	padding-left: 50px;
}
footer div img{
	float: left;
	display: block;
	height: 80px;
	width: 80px;
	margin: 10px;
}
/*
 * 通用类
 */
/*
 * 不显示
 */
._hid {
	display: none;
}
/*
 * li并排显示
 */
._liMenu_1 {
	text-align: right;
}
._liMenu_1 li{
	display: block;
	float: left;
	list-style: none;
	padding: 10px 20px;
}
/*
 * 全屏body
 */
._fullBody {
	background: #ccc;
	position: relative;
}
