<div id="collect_box" >
	<div id="un_collect" style="padding-right: 0px;">
		<a id="collect_btn" class="btn btn-default" style="color: #000000;text-align: right;"><img style="height:18px;margin-top: 2px;padding-top:1px;" src="../../static/imgs/pentagram_1.png" />收藏</a>
	</div>
	<div id="collect" style="display: none;padding-right: 0px;">
		<a id="discollect_btn" class="btn btn-default" style="color: #000000;text-align: right;"><img style="height: 18px;margin-top: 2px;padding-top:1px;" src="../../static/imgs/pentagram_2.png" />收藏</a>
	</div>
</div>