<div id="focus_box">
	<div id="un_focus_img" style="padding-right: 0px;" >
		<a id="focus_btn" class="btn btn-default" style="color: black;"><img style="width:18px;margin-top: 2px;padding-top:1px;" src="../../static/imgs/pentagram_1.png" />关注</a>
	</div>
	<div id="focus_img" style="display: none;padding-right: 0px;">
		<a id="disfocus_btn" class="btn btn-default" style="color: black;"><img style="height: 18px;margin-top: 2px;padding-top:1px;" src="../../static/imgs/pentagram_2.png" />关注</a>
	</div>
</div>