<!DOCTYPE html>
<html>
		<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<script src="../../../public/static/js/mui.min.js"></script>
		<link href="../../../public/static/css/mui.min.css" rel="stylesheet" />
		<link href="../../../public/static/css/login.css" rel="stylesheet" />
	</head>

	<body>
		<input type="image" src="../../../public/static/imgs/loadPage.jpg" style="height:100%;width: 100%;" />
	</body>
</html>
