<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<link rel="stylesheet" href="../../static/libraryResources/css/common.css" />
		<link rel="stylesheet" href="../../static/libraryResources/css/library.css" />
		<link rel="stylesheet" href="../../static/libraryResources/css/copyboooks2.css" />
		<link rel="stylesheet" href="../../static/libraryResources/css/dict1.css" />
		<script type="text/javascript" src="../../static/libraryResources/lib/jQuery/3.2.1/jquery-3.2.1.js" ></script>
		<script type="text/javascript" src="../../static/libraryResources/js/CopyBooks2.js" ></script>
	</head>
	<body class="_fullBody">
		<div class="main_box">
			<div class="right_box" style="height:1000px;">
				<div>
					<a style="font-size: 24px;" href="test4">添加字</a>
					<a style="font-size: 24px; color: #0000FF;" href="test5">删除字</a>
					<a style="font-size: 24px;" href="test12">删除生字</a>
					<a style="font-size: 24px;" href="test6">更新字</a>
					<a style="font-size: 24px;" href="test7">查询字</a>
				</div>
				<div class="right_box_bg"></div>
				<div class="search_box">
					<ul>
						<li>
							<label class="title">请输入要删除的字</label>
							<input id="wordName" type="text" name="_name" />
							<button id="deleteWord" style="width:80px; background-color:#fff;">确认删除</button>
						</li>
						<li> 
							<label class="title">书体</label>
							<select id="bookType">
								<option value="">请选择书体</option>
								<option value="1">毛笔</option>
								<option value="2">硬笔</option>
								<option value="3">粉笔</option>
							</select>
							<label class="title">字体</label>
							<select id="wordType">
								<option value="">请选择字体</option>
								<option value="1">楷书</option>
								<option value="2">行书</option>
								<option value="3">草书</option>
								<option value="4">隶书</option>
								<option value="5">篆书</option>
								<option value="6">魏碑</option>
							</select>
						</li>
					</ul>
				</div>
			</div>
		</div>
		</body>
		<script type="text/javascript" src="/bijianxing/public/static/libraryResources/js/DeleteWord.js"></script>
</html>