{include file="header" /}
<style>
	body {
		background: #f4f4f4 ! important;
	}
</style>
<br>
<div class="row">
	<div class="col-md-1">

	</div>

	<div class="col-md-8" style="background:#fff ;">

		<h2>{$theme}</h2>
		<div class="row">
			<div class="col-md-4">
				<p class="text-left" style="font-size: 14px;color: #ccc;">发布时间：{$time}</p>
			</div>
			<div class="col-md-4">
			</div>
			<div class="col-md-4">
				<p class="text-right" style="font-size: 14px;color: #ccc;">
					<span class="glyphicon glyphicon-book" aria-hidden="true">
					</span>{$number}次&nbsp;&nbsp;
					<span class="glyphicon glyphicon-star" aria-hidden="true">
					</span>{$collect}次&nbsp;&nbsp; 得分:{$score} (满分100)
				</p>
			</div>
		</div>
		<hr style="border-top:1px solid #ccc;    margin: 0 0 20px 0;" /> {$txt}
	</div>

	
	<div class="col-md-3">
		<link rel="stylesheet" href="../../static/index/index1.css" />
		<div class="aside ">
			<div class="right_box user_info ">
				<dl class="inf_bar ">
					<dt class="csdn-tracking-statistics " data-mod="popu_381 ">
                    <a href="javascript:jumpIndex() " target="_blank ">
                        <img src="../../static/user/headimg/{$photo} " class="avatar_pic ">
                    </a>
                    <span class="medals " title=" ">
                <svg class="icon " aria-hidden="true ">
                    
                </svg>
              </span>
                </dt>
					<dd class="ddodd ">
						<h3 class="csdn-tracking-statistics " data-mod="popu_380 "><a href="javascript:jumpIndex() " class="ao " id="uid ">{$name}</a></h3>
						{if condition="Same() neq 1"}
						<span class="csdn-tracking-statistics" data-mod="popu_379"><a class="btn btn-redborder-small " id="span_add_follow" href="javascript:btn_click({$perId})">＋关注</a></span>
						<span class="csdn-tracking-statistics" data-mod="popu_379"><a class="btn btn-redborder-small " id="span_add_follow" href="javascript:jumpLCG({$perId})">发私信</a></span>
						 {else /}
						  {/if}
					</dd>
				</dl>
				<div class="inf_number_box ">
					<dl>
						<dt>原创</dt>
						<dd>{$dycount}</dd>
					</dl>
					<dl>
						<dt>粉丝</dt>
						<dd id="fan ">
							<a href="#">{$fans}</a>
						</dd>
					</dl>
					<dl>
						<dt>关注</dt>
						<dd>
							<a href="#">{$atten}</a>
						</dd>
					</dl>
					<dl>
						<dt>收藏</dt>
						<dd>{$clcount}</dd>
					</dl>

					<div class="seat "><span class="txt_seat ">座右铭：{$seatrt}</span> </div>
					</br>
					<div id="ok ">
						<span class="node " data-mod="popu_379 "><a class="btn btn-redborder-small " id="span_add_follow " href="javascript:jumpAdd() " >创建新动态</a></span>		
					</div>
					</br>
					</br>

				</div>

			</div>
		</div>
	</div>
</div>
	<script type="text/javascript">
		function jump() {
			$.ajax({
				type: "post",
				url: "../../index/comment/displaycomment",
				async: true,
				cache: false,
				data: {},
				success: function(data) {},
				error: function() {
					alert("服务器出错了");
				}
			});
		}
	</script>
	<script>
		function btn_click(id) {
			window.location.href = "../../index/detail1/Attention?us_id=" + id;
		}
	</script>
	<script type="text/javascript">
		function jumpLCG(id) {
			window.location.href = "../../index/Message/createNewTalk?user_id=" + id;

		}
	</script>
	<script type=" text/javascript ">
  	
  	function jumpAdd() {
  		window.location.href = "../../index/dynamics/post ";
	
	}



  </script>
	<br> {include file="comment/comment" /}